# Filtering Data with SQL - Lab

## Introduction 

NASA wants to go to Mars! Before they build their rocket, NASA needs to track information about all of the planets in the Solar System. In this lab, you'll practice querying the database with various `SELECT` statements. This will include selecting different columns and implementing other SQL clauses like `WHERE` to return the data desired.

<img src="https://raw.githubusercontent.com/learn-co-curriculum/dsc-filtering-lab-v2-4/master/images/planets.png" alt="image of solar system" width="600">

## Objectives

You will practice the following:

* Retrieve a subset of records from a table using a `WHERE` clause
* Filter results using conditional operators such as `BETWEEN`, `IS NULL`, and `LIKE`
* Apply an aggregate function to the result of a filtered query

## Connecting to the Database

To get started, import `sqlite3` as well as `pandas` for conveniently displaying results. Then, connect to the SQLite database located at `planets.db`.

In [6]:
# Your code here
import sqlite3
import pandas as pd

# Connecting to the database
conn = sqlite3.connect("planets.db")
cur = conn.cursor()

## Database Schema

This database contains a single table, `planets`. This is the schema:

```
CREATE TABLE planets (
  id INTEGER PRIMARY KEY,
  name TEXT,
  color TEXT,
  num_of_moons INTEGER,
  mass REAL,
  rings BOOLEAN
);
```

The data looks something like this:

| id | name    | color      | num_of_moons | mass   | rings |
| -- | ------- | ---------- | ------------ | ------ | ----- |
| 1  | Mercury | gray       | 0            | 0.55   | FALSE |
| 2  | Venus   | yellow     | 0            | 0.82   | FALSE |
| 3  | Earth   | blue       | 1            | 1.00   | FALSE |
| 4  | Mars    | red        | 2            | 0.11   | FALSE |
| 5  | Jupiter | orange     | 67           | 317.90 | FALSE |
| 6  | Saturn  | hazel      | 62           | 95.19  | TRUE  |
| 7  | Uranus  | light blue | 27           | 14.54  | TRUE  |
| 8  | Neptune | dark blue  | 14           | 17.15  | TRUE  |

## SQL Queries

Write SQL queries for each of the statements below using the same pandas wrapping syntax from the previous lesson.

### 1. Select just the `name` and `color` of each planet

In [10]:
# Helper function to execute and fetch results
def fetch_results(query):
    cur.execute(query)
    return cur.fetchall()
    for row in results:
        print(row)
    return results

In [11]:
# Your code here

query1 = "SELECT name, color FROM planets;"
name_colour = fetch_results(query1)
print(name_colour)

[('Mercury', 'gray'), ('Venus', 'yellow'), ('Earth', 'blue'), ('Mars', 'red'), ('Jupiter', 'orange'), ('Saturn', 'hazel'), ('Uranus', 'light blue'), ('Neptune', 'dark blue')]

### 2. Select all columns for each planet whose `num_of_moons` is 0

In [13]:
# Your code here

# Selecting planet whose num_of_moons is 0
query2 = "SELECT * FROM planets WHERE num_of_moons = 0;"
num_of_moons = fetch_results(query2)
print("Planets with No Moons:\n", num_of_moons)

Planets with No Moons:
 [(1, 'Mercury', 'gray', 0, 0.55, 0), (2, 'Venus', 'yellow', 0, 0.82, 0)]

### 3. Select the `name` and `mass` of each planet whose `name` has exactly 7 letters

In [15]:
# Your code here

# name and mass of each planet whose name has exactly 7 letters
query3 = "SELECT name, mass FROM planets WHERE LENGTH(name) = 7;"
name_mass = fetch_results(query3)
print("Planets with 7-letter Names:\n", name_mass)

Planets with 7-letter Names:
 [('Mercury', 0.55), ('Jupiter', 317.9), ('Neptune', 17.15)]

### 4. Select all columns for each planet whose `mass` is greater than 1.00

In [17]:
# Your code here

# Selecting all columns for each planet whose mass > 1.00
query4 = "SELECT * FROM planets WHERE mass > 1.00;"
mass_greater1 = fetch_results(query4)
print("Planets with Mass > 1.00:\n", mass_greater1)

Planets with Mass > 1.00:
 [(5, 'Jupiter', 'orange', 68, 317.9, 0), (6, 'Saturn', 'hazel', 62, 95.19, 1), (7, 'Uranus', 'light blue', 27, 14.54, 1), (8, 'Neptune', 'dark blue', 14, 17.15, 1)]

### 5. Select the `name` and `mass` of each planet whose `mass` is less than or equal to 1.00

In [19]:
# Your code here

# Selecting the name and mass of each planet whose mass <= 1.00
query5 = "SELECT name, mass FROM planets WHERE mass <= 1.00;"
name_mass_less1 = fetch_results(query5)
print("Planets with Mass <= 1.00:\n", name_mass_less1)

Planets with Mass <= 1.00:
 [('Mercury', 0.55), ('Venus', 0.82), ('Earth', 1.0), ('Mars', 0.11)]

### 6. Select the `name` and `mass` of each planet whose `mass` is between 0 and 50

In [21]:
# Your code here

# Selecting the name and mass of each planet whose mass is between 0 and 50
query6 = "SELECT name, mass FROM planets WHERE mass BETWEEN 0 AND 50;"
name_mass0_50 = fetch_results(query6)
print("Planets with Mass Between 0 and 50:\n", name_mass0_50)

Planets with Mass Between 0 and 50:
 [('Mercury', 0.55), ('Venus', 0.82), ('Earth', 1.0), ('Mars', 0.11), ('Uranus', 14.54), ('Neptune', 17.15)]

### 7. Select all columns for planets that have at least one moon and a `mass` less than 1.00

***Hint:*** You can use `AND` to chain together two conditions in SQL, similar to `and` in Python

In [23]:
# Your code here

# Selecting all columns for planets that have at least one moon and a mass < 1.00
query7 = "SELECT * FROM planets WHERE num_of_moons >= 1 AND mass < 1.00;"
moon_mass_less1 = fetch_results(query7)
print("Planets with Moons and Mass < 1.00:\n", moon_mass_less1)

Planets with Moons and Mass < 1.00:
 [(4, 'Mars', 'red', 2, 0.11, 0)]

### 8. Select the `name` and `color` of planets that have a `color` containing the string "blue"

In [25]:
# Your code here

# Selecting the name and color of planets that have a color containing the string "blue"
query8 = "SELECT name, color FROM planets WHERE color LIKE '%blue%';"
name_colour_blue = fetch_results(query8)
print("Planets with 'blue' in Color:\n", name_colour_blue)

Planets with 'blue' in Color:
 [('Earth', 'blue'), ('Uranus', 'light blue'), ('Neptune', 'dark blue')]

### 9. Select the count of planets that don't have rings as `planets_without_rings`

Note: even though the schema states that `rings` is a `BOOLEAN` and the example table shows values `TRUE` and `FALSE`, SQLite does not actually support booleans natively. From the [documentation](https://www.sqlite.org/datatype3.html#boolean_datatype):

> SQLite does not have a separate Boolean storage class. Instead, Boolean values are stored as integers 0 (false) and 1 (true).

In [27]:
# Your code here

# Selecting count of planets that don't have rings
query9 = "SELECT COUNT(*) AS planets_without_rings FROM planets WHERE rings = 0;"
planets_without_rings = fetch_results(query9)
print("Count of Planets Without Rings:\n", planets_without_rings)

Count of Planets Without Rings:
 [(5,)]

### 10. Select the name of all planets, along with a value `has_rings` that returns "Yes" if the planet does have rings, and "No" if it does not

In [29]:
# Your code here

# Selecting the name of all planets, along with a value has_rings that returns "Yes" if the planet does have rings, and "No" if it does not
query10 = '''
SELECT name, 
       CASE WHEN rings = 1 THEN 'Yes' ELSE 'No' END AS has_rings 
FROM planets;
'''
has_rings = fetch_results(query10)
print("Planets and Whether They Have Rings:\n", has_rings)

Planets and Whether They Have Rings:
 [('Mercury', 'No'), ('Venus', 'No'), ('Earth', 'No'), ('Mars', 'No'), ('Jupiter', 'No'), ('Saturn', 'Yes'), ('Uranus', 'Yes'), ('Neptune', 'Yes')]

## Summary

Congratulations! NASA is one step closer to embarking upon its mission to Mars. In this lab, You practiced writing `SELECT` statements that query a single table to get specific information. You also used other clauses and specified column names to cherry-pick the data we wanted to retrieve.